footer {
  padding: 2rem;
  background-color: #202020;
  font-size: var(--body-font-size-s);
  color: #ebebeb;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
.footer-top {
  flex-direction: column;
}

.footer-top,.footer-top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top div div img {
  max-width: 128px;
  height: auto;
}
.footer-top ul {
  list-style: none;
  padding: 0;
}
.footer-top ul li {
  padding: 0 20px;
}
.footer-top div:nth-child(3) div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top div:nth-child(3) div ul {
  background-color: #ffffff;
  margin: 0;
}
.footer-top div:nth-child(3) div ul li {
  padding: 5px 8px;
  display: flex;
}
.footer-top div:nth-child(3) div h4 {
  font-size: 16px;
  line-height: 24px;
  margin-right: 20px;
}
.footer-bottom {
  margin-top: 30px;
  font-size: 12px;
  line-height: 15px;
}
@media (min-width: 900px) {
  .footer-top,.footer-top ul {
    flex-direction: row;
  }
}